<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置目标类 -->
    <bean id="studentDao" class="com.xavier.demo3.StudentDaoImpl"/>

    <!-- 前置通知类 -->
    <bean id="myBeforeAdvice" class="com.xavier.demo3.MyBeforeAdvice"/>

    <!-- Spring 的 AOP 产生代理对象 -->
    <bean id="studentDaoProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 目标类 -->
        <property name="target" ref="studentDao"/>
        <!-- 实现的接口类 -->
        <property name="proxyInterfaces" value="com.xavier.demo3.StudentDao"/>
        <!-- 拦截名称 -->
        <property name="interceptorNames" value="myBeforeAdvice"/>
    </bean>
</beans>